.App {
    position: relative;
    background-color: green;
}

.Deck-container {
    position: relative;
}

.Loading {
    text-align: center;
}

.btn-draw-card {
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    width: auto;
    height: 50px;

    border-radius: 10px;
    background-color: blue;

    color: white;
    font-size: 14px;

    z-index: 1;
}

.btn-draw-card div {
    color: red;
}

.btn-reshuffle-deck {
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 50px;

    border-radius: 10px;
    background-color: blue;

    color: white;
    font-size: 14px;

    z-index: 1;
}

.Card-Container {
    width: 100%;
    height: 100vh;
}

.Card {
    position: absolute;

    top: 10vh;
    left: 40vw;
}